{{* this.title string }}
{{* this.rating string }}

<div class="w-movie-list-item">
	<div class="w-movie-list-item__title">{{- this.title }}</div>
	<div class="w-movie-list-item__rating">{{- this.rating }}</div>
</div>
